force-app/main/default/flows/Reserve_Stock_on_OrderItem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Calculate_Reserved_Quantity</name>
        <label>Calculate Reserved Quantity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Inventory_for_Product_Location.Reserved_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateReservedQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Reserved_Quantity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Inventory_Exists</name>
        <label>Inventory Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inventory_for_Product_Location.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Reserved_Quantity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalculateReservedQuantity</name>
        <dataType>Number</dataType>
        <expression>{!Get_Inventory_for_Product_Location.Reserved_Quantity__c}+{!$Record.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Reserve Stock on OrderItem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reserve Stock on OrderItem</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Inventory_for_Product_Location</name>
        <label>Get Inventory for Product &amp; Location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inventory_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Store_Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Store_Location__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Reserved_Quantity</name>
        <label>Update Reserved Quantity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Inventory_for_Product_Location</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Inventory_for_Product_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quantity</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Quantity</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
